*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.demo1{
    padding-bottom: 30px;
}
.demo1 h1{
    padding-bottom: 10px;
}
.demo1 img{
    width: 200px;
    margin-left: 800px;
}
.demo2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.demo3{
    height: 650px;
    width: 250px;
    text-align: center;
}
.demo3 button{
     height: 50px;
     width: 50px;
     background-color: rgb(127, 127, 204);
     border: 1px solid white;
     border-radius: 30%;
}
.demo3 h2{
    padding-bottom: 30px;
}
.demo4{
    background-color: rgb(93, 93, 130);
    height: 330px;
    width: 200px;
    text-align: center;
    border-radius: 5%;
    margin-left: 50px;
}
.demo4 h2{
    padding-top: 15px;
    padding-bottom: 30px;
}